body{
  margin: 0;
  background-color: #00CDCD;
}

.top-container{
  position: absolute;
  width: 100%;
  height: 5%;
  text-align: center;
  margin: 0;
  border-bottom: solid;
}

a{
  color: black;
  font-size: 2rem;
  margin: 5%;
  text-decoration: none;
}

a:hover{
  color: #0000FF;
}

.content{
  text-align: center;
  position: absolute;
  width: 80%;
  height: 60%;
  margin-top: 6%;
  margin-left: 10%;
}

h1{
  font-family: 'Lora', serif;
  font-size: 5rem;
  font-weight: normal;
}

h2{
  font-family: 'Lora', serif;
  /* font-size: 8rem; */
  font-weight: normal;
}

p{
  font-family: 'Lora', serif;
  font-size: 2rem;
}
